body {
    background: #f0c7d8;
    color: rgb(133, 5, 133);
}

.container {
    display: flex;
    flex-direction: row;
}

.taskListSection, .taskManagementSection { 
    background: rgba(216, 179, 227, 0.16);
    background:radial-gradient(circle, rgba(240, 199, 216, 1) 0%, rgba(191, 214, 245, 1) 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.1px);
    -webkit-backdrop-filter: blur(14.1px);
    border: 1px solid rgba(216, 179, 227, 0.52);
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px; 
}

#taskList {
  margin: 0;
  padding: 0;
}

li {
    list-style-type: none;    
}

li label {
  display: flex;
  align-items: center;
}

li input[type="checkbox"]:checked + span {
    text-decoration: line-through;
}